.details {
  width: 100%;
  min-height: 90vh;
  position: relative;
  padding-top: 10vh;

  .container {
    width: 100%;
    height: 100%;
    padding: 10px 70px;

    .card {
      width: 300px;
      padding: 10px;
      border: 2px solid black;
    }
  }
}
